footer{
    background-color: var(--color-red);
    color: white;
    height: 9.4vh;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

span{
    padding: 5px;
    font-weight: 700;
}